@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <div>
        <p>
            Greetings to whoever reviewing my task! Here some inforamtion about app: <br /> <br />

            1. It's using SqLite as database.<br />
            2. Database tables are saving as .json;<br />
            3. Loading huge amount of directories will take a lot of time due to bad performance. SORRY!<br />
            4. Dynamic load is not saving folders in database or in .json
        </p>
    </div>
</body>
</html>