@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Load From System</title>
</head>
<body>
    <div>
        <a asp-action="DynamicExplorer">Dynamic load(without saving)</a><br />
        <a asp-action="StaticLoad">Static load(may take a long time)</a><br />
    </div>
</body>
</html>