<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home | @ViewBag.Title</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div><a href="/home">Home</a> | <a href="/home/info">Info</a></div>
    <br />
    <div>
        @RenderBody()
    </div>
</body>
</html>